<div class="container">
  <h1>Calculadora</h1>
  <h2>{{subtitle}}</h2>
  <form #calcForm="ngForm">
    <div class="form-group">
      <label for="num1">Number 1</label>
      <input type="number" class="form-control" id="num1"
             required
             [(ngModel)]="model.num1" name="num1">
    </div>

    <div class="form-group">
      <label for="num2">Number 2</label>
      <input type="number" class="form-control" id="num2"
              required
              [(ngModel)]="model.num2" name="num2">
    </div>

    <button type="button" class="btn" (click)="Suma()">Suma</button>
    <button type="button" class="btn" (click)="Resta()">Resta</button>
    <button type="button" class="btn" (click)="Mult()">Multiplicar</button>
    <button type="button" class="btn" (click)="Div()">Dividir</button>
  </form>
  <h2>{{resultat}}</h2>
</div>